body {
  background: url(https://images.unsplash.com/photo-1461748659110-16121c049d52?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2550&q=80);
  background-size: cover;
  background-position: 0 -200px;
  text-shadow: 1.5px 1.5px 1px #877C;
}

li {
  list-style: none;
}

button {
  margin-left: 1rem;
  background: #EDDB;
  box-shadow: 2px 3px 3px #877C, -2px 3px 3px #877C;
}

h2 {
  margin-top: 3.8rem;
}

#container {
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
}

#scorebox {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1rem 5rem 5rem;
}

#player-one {
  grid-column-start: 2;
  grid-row-start: 1;
  font-size: 20px;
}

#player-two {
  grid-column-start: 3;
  grid-row-start: 1;
  font-size: 20px;
}

#edit-player-1 {
  grid-column-start: 2;
  grid-row-start: 1;
  margin: 3rem auto 0 auto;
  width: 50%;
  height: 1.5rem;
  border-radius: 3px;
}

#edit-player-2 {
  grid-column-start: 3;
  grid-row-start: 1;
  margin: 3rem auto 0 auto;
  width: 50%;
  height: 1.5rem;
  border-radius: 3px;
}

#player-one-score {
  grid-column-start: 2;
  grid-row-start: 2;
  border: 4px inset #AAA;
  text-align: center;
  height: 5rem;
  font-size: 70px;
  border-radius: 5px;
  margin-right: 1px;
}

#player-two-score {
  grid-column-start: 3;
  grid-row-start: 2;
  border: 4px inset #AAA;
  text-align: center;
  height: 5rem;
  font-size: 70px;
  border-radius: 5px;
  margin-left: 1px;
}

#player-one-increment {
  grid-column-start: 2;
  grid-row-start: 4;
  height: 4rem;
  font-size: 30px;
  margin: 0 auto 0 auto;
  width: 80%;
  border-radius: 5px;
  box-shadow: 2px 3px 3px #766C, -2px 3px 3px #766C;
}

#player-two-increment {
  grid-column-start: 3;
  grid-row-start: 4;
  height: 4rem;
  font-size: 30px;
  margin: 0 auto 0 auto;
  width: 80%;
  border-radius: 5px;
  box-shadow: 2px 3px 3px #766C, -2px 3px 3px #766C;
}

#name-winner {
  font-size: 100px;
  color: green;
  grid-row-start: 1;
}

#new-game {
  font-size: 30px;
  padding: 10px;
  border-radius: 10px;
  position: absolute;
  left: 40%;
  width: 20%;
  bottom: 2rem;
}

#player-edit {
  position: absolute;
  top: 40%;
  right: 40%;
  width: 200px;
  height: 60px;
  z-index: 100;
  border: 3px outset #AAA;
  background-color: #EFDDDDFA;
  border-radius: 10px;
  padding: 2rem;
  box-shadow: 7px 10px 8px #988C, -7px 10px 8px #988C;
}

#player-edit form {
  margin-top: 10px;
}

#player-edit form input {
  margin: 3px;
}

#games {
  grid-column-start: 1;
}

#history-button {
  font-size: 30px;
  padding: 10px;
  border-radius: 10px;
  position: absolute;
  left: 40%;
  width: 20%;
  bottom: 2rem;
  box-shadow: 2px 3px 3px #544C, -2px 3px 3px #544C;
}

#player-button {
  font-size: 30px;
  padding: 10px;
  border-radius: 10px;
  position: absolute;
  left: 40%;
  width: 20%;
  bottom: 6rem;
  box-shadow: 2px 3px 3px #544C, -2px 3px 3px #544C;
}

#win-score {
  width: 50px;
  height: 25px;
  font-size: 24px;
  background: #EEEB;
}

#winning-score {
  font-size: 24px;
}

#win-score-submit {
  background: #EDDB;
  width: 12%;
  height: 1.5rem;
  border-radius: 3px;
  box-shadow: 2px 3px 3px #877C, -2px 3px 3px #877C;
}
